.photo-upload {
    height: 100%;
    background-image: url("../../../assets/img/cloud-memorial/home-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.photo-upload-content {
    /* height: 85%; */
    margin: 10px 20px;
}

.photo-upload-content>.img-infos {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    object-fit: contain;
}

.photo-upload-content>.no-infos {
    width: 100%;
    height: 90%;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgb(218, 218, 218,0.6);
}

.photo-upload-content>.btn{
    border: none;
    outline: none;
    height: 35px;
    background-color: #CF9D85;
    color: #fff;
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0px;
}