@font-face {
  font-family: 'icon';
  src:  url('icon.eot?fd0l3u');
  src:  url('icon.eot?fd0l3u#iefix') format('embedded-opentype'),
    url('icon.ttf?fd0l3u') format('truetype'),
    url('icon.woff?fd0l3u') format('woff'),
    url('icon.svg?fd0l3u#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eyeclose:before {
  content: "\e916";
}
.icon-eyeopen:before {
  content: "\e917";
}
.icon-back:before {
  content: "\e900";
  color: #cdcdcd;
}
.icon-ditu:before {
  content: "\e901";
  color: #cdcdcd;
}
.icon-erweima:before {
  content: "\e902";
  color: #cdcdcd;
}
.icon-gongzuoxiang:before {
  content: "\e903";
  color: rgb(0,136,254);
}
.icon-home:before {
  content: "\e904";
  color: #cdcdcd;
}
.icon-jia:before {
  content: "\e905";
  color: #cdcdcd;
}
.icon-kaoqinjilu:before {
  content: "\e906";
  color: #cdcdcd;
}
.icon-lingdang:before {
  content: "\e907";
  color: #cdcdcd;
}
.icon-my:before {
  content: "\e908";
  color: #cdcdcd;
}
.icon-next:before {
  content: "\e909";
  color: #cdcdcd;
}
.icon-renyuandingwei:before {
  content: "\e90a";
  color: #cdcdcd;
}
.icon-saomiao:before {
  content: "\e90b";
  color: #cdcdcd;
}
.icon-shanchu:before {
  content: "\e90c";
  color: #cdcdcd;
}
.icon-shezhi:before {
  content: "\e90d";
  color: #cdcdcd;
}
.icon-shijian:before {
  content: "\e90e";
  color: #cdcdcd;
}
.icon-sousuo:before {
  content: "\e90f";
  color: #cdcdcd;
}
.icon-tianjiatupian:before {
  content: "\e910";
  color: #cdcdcd;
}
.icon-wujiaoxing:before {
  content: "\e911";
  color: #cdcdcd;
}
.icon-xiazhourenwu:before {
  content: "\e912";
  color: #cdcdcd;
}
.icon-xinjian:before {
  content: "\e913";
  color: #cdcdcd;
}
.icon-yuandian:before {
  content: "\e914";
  color: #cdcdcd;
}
.icon-ziliaoku:before {
  content: "\e915";
  color: #cdcdcd;
}
