.ui-ver-code{
  min-width: 2.4rem;
  height: .666666667rem;
  line-height: .666666667rem;
  text-align: center;
}
.ui-ver-code.default{
  font-size: 16px;
  color: #077af2;
  padding: 0px 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-ver-code.primary{
  font-size: 11px;
  background-color: #ededed;
  border-radius: .3333333333rem;
}
.time{
  color: color-primary;
}
