.diymuxueindexconten {
    /* position: relative; */
}

.diymuxueindex {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 67px;
    background-color: rgba(0,0,0,0.45);
}
.diymuxueindex>div {
    width: 25%;
    text-align: center;
    padding-bottom: 1%;
    font-size: 11px;
    font-family: Source Han Serif CN;
    font-weight: 400;
    color: #999999;
    line-height: 11px;
    padding-top: 8px;
    height: 88px;
}
.customerservice{
    /* position: fixed; */
    left: 0px;
    /* top: 0px; */
    bottom: 41.7px;
}
.dropdowns{
    position: fixed;
    /* top: 10rem; */
    width: 100vw;
    height: calc(100% - 5.333333rem);
    bottom: 1rem;
}
.dropdownsa{
    width: 100vw;
    bottom: 1rem;
    position: fixed;
    height: calc(50%);
}

.myDiyBox{
    position: relative;
    top: 75px;
    width: 100%;
    height: calc(100% - 102px);
    /* background-color: rgba(0,0,0,0.5); */
}

.myDiyBoxItem{
    width: calc(100% - 60px);
    padding: 10px 20px;
    margin: 10px 15px;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
}

.myDiyBoxItemTitle{
    font-size: 14pt;
    font-weight: 600;
    color: #333333;
    height: 1.5em;
    margin: 10px 0;
}

.myDiyBoxItemTime{
    margin: 10px 0;
    font-size: 10.5pt;
    color: #333333;
}

.myDiyBoxItemListBox{
    width:100%;    
    /* height: 100px; */
}

.myDiyBoxItemListItem{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
}

.myDiyBoxItemListItemText{
    display: inline-block;
    min-width: 80px;
    font-size: 10pt;
}

.yuYueModalStyle .am-list-item .am-list-line .am-list-content{
    padding: 0 ;
}

.imgShadow{
    filter:drop-shadow(0 0 2px #000);
}

.commodityList{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(255,255,255,0.3)
}

.phoneIcon{
    position: absolute;
    right: 10px;
    top: 100px;
    z-index: 1000;
}

.commodityList .am-list-item .am-list-line .am-list-content{
    padding: 0 ;
    background-color: rgba(255,255,255,0) !important;
}

.commodityList .am-list-body{
    padding: 0 ;
    background-color: rgba(255,255,255,0.3) !important;
}

.btnPrimary{
    width: 120pt;
    height: 30pt;
    line-height: 30pt;
    font-size: 13pt;
    color: #fff;
    background-color: #D89A81;
    border-radius: 6px;
    text-align: center;
}

.btnGhost{
    width: 120pt;
    height: 30pt;
    line-height: 30pt;
    font-size: 13pt;
    color: #D89A81;
    /* background-color: #D89A81; */
    border: 1px solid #D89A81;
    border-radius: 6px;
    text-align: center;
}
