.lantern {
    background: url(../../../../assets/img/yun-blessings/BG_star.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;bottom: 0;
    left: 0;right: 0;
    color: #3A394D;
}

.blessings-container {
    padding: 0 20px;
}

.lantern-animateBG{
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    pointer-events: none;
}

.lantern-mainContainer{
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    z-index: 5;
}

.lantern-titleInfo{
    margin-top: 180px;
    text-align:center;
    width: 100%;
    color: #FDD8A4;
    font-size: 18px;
}

.nameInputBox{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nameInputItem{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #FDD8A4;
    background-color: #fff;
}

.valueInputBox{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.valueInputItem{
    width: 250px;
    height: 130px;
    border-radius: 20px;
    border: 1px solid #FDD8A4;
    background-color: #fff;
}

.lantern-btnBoxGhost{
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    bottom: 0px;
}

.lantern-btnBox{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.lantern-btn {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #FDD8A4;
    color:#FDD8A4;
    background-color: rgb(211,0,8);
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.lantern-btnGhost {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    /* border: 1px solid #FDD8A4; */
    color:#FDD8A4;
    /* background-color: rgb(211,0,8); */
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}



.animateBox{
    position: absolute;
    width: 70px;
    height: 70px;
}

.animateItem1{
    position: absolute;
    width: 70px;
    height: 70px;
    animation: moveDiv1 4s infinite;
}

.animateItem2{
    position: absolute;
    width: 70px;
    height: 70px;
    animation: moveDiv2 4s infinite;
}

.animateItem1Far{
    position: absolute;
    width: 70px;
    height: 70px;
    animation: moveDiv1Far 4s infinite;
}

.animateItem2Far{
    position: absolute;
    width: 70px;
    height: 70px;
    animation: moveDiv2Far 4s infinite;
}






@keyframes moveDiv1 {
    0% {
       margin-top: 0;
       margin-left: 0;
       transform: rotate(0deg);
    }
    50% {
        margin-top: 10px;
        margin-left: 2px;
        transform: rotate(10deg);
     }
    100% {
        margin-top: 0;
        margin-left: 0;
        transform: rotate(0deg);
    }
}

@keyframes moveDiv2 {
    0% {
       margin-top: 10px;
       margin-left: 0;
    }
    50% {
        margin-top: 0;
        margin-left: -2px;
     }
    100% {
        margin-top: 10px;
        margin-left: 0;
    }
}



@keyframes moveDiv1Far {
    0% {
       margin-top: 0;
       margin-left: 0;
       transform: rotate(0deg);
    }
    50% {
        margin-top: 5px;
        margin-left: 1px;
        transform: rotate(10deg);
     }
    100% {
        margin-top: 0;
        margin-left: 0;
        transform: rotate(0deg);
    }
}

@keyframes moveDiv2Far {
    0% {
       margin-top: 5px;
       margin-left: 0;
    }
    50% {
        margin-top: 0;
        margin-left: -1px;
     }
    100% {
        margin-top: 5px;
        margin-left: 0;
    }
}

.lantern-mainLanternBox{
    margin-top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.lantern-mainAnimate{
    margin-top: -70%;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: mainAnimate 4s ;
}

.lantern-animateContainer{
    position: absolute;
    /* width: 4.5rem; */
    /* height: 5.8rem; */
    /* bottom: 0; */
    bottom: 50px;
    left: 45px;
    right: 45px;
    /* background-color: rgba(200,0,0,0.3); */
    /* top: 9.8rem; */
    /* background-color: #3A394D;

    position: absolute;
    width: 5.3rem;
    height: 7rem;
    /* bottom: 1.8rem; */
    /* bottom: 0;
    left: 1.11rem;
    background-color: #3A394D; */
    /* position: relative;
    width: 5.3rem;
    height: 7rem;
    margin: 0 auto;
    bottom: 360px; */
}

.lantern-animateContainerName{
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 18px;
    color: #CE6735;
    margin-top: 6px;
}
.lantern-animateContainerText{
    margin-top: 6px;
    width: 100%;
    height: 6.2rem;
    text-indent:2em;
    line-height: 0.51rem;
    font-size: 18px;
    letter-spacing: 2px;
    color: #CE6735;
    overflow: hidden;
    word-wrap: break-word;
    word-break: normal;
    display: -webkit-box;
    text-overflow: ellipsis; 
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
}

@keyframes mainAnimate {
    0% {
       margin-top: 200%;
       opacity: 0;
    }
    10% {
        margin-top: 200%;
        opacity: 1;
     }
    100% {
        margin-top: -70%;
    }
}