.biography-browse{
    background-image: url("../../../assets/img/life-biography/base-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.browse-content{
    background-color: rgb(255, 255, 255, 0.4);
    height: 78%;
    margin: 10px 20px;
    border-radius: 8px;
    border: 1px solid #E5D5BC;
}

.browse-content>.infos{
    height: 100%;
    white-space: pre-wrap;
    word-break:break-all;
    line-height:30px;
    color: #666666;
    font-size: 12px;
    padding: 10px;
    letter-spacing: 1.3px;
}