.system-settings{
    height: 100%;
    background-image: url("../../../assets/img/cloud-memorial/home-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.system-settings-content{
    margin: 10px 20px;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 15px;
    height: 60%;
    box-shadow: 0px 3px 6px #E0D3C0;
    border-radius: 8px;
    padding-bottom: 250px;
}

.system-settings-content>.item {
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.system-settings-content>.item>.left {
    color: #3A394D;
    font-size: 12px;
    font-weight: bold;
}

.system-settings-content>.logout>.left{
    color: #FF3B30;
}


.system-settings-content>.item>.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.system-settings-content>.item>.right>.desc {
    color: #999999;
    font-size: 12px;
}


.system-settings-content>.item>.right>.icon {
    width: 6px;
    padding-left: 15px;
    margin: 0px;
}

.logout-model{
    border: 1px solid transparent;
}

.logout-model .am-modal-title{
    color: #333;
}

.logout-model .model-content span{
    color: #333;
}

.logout-model .model-options{
    margin-top: 20px;
}

.logout-model .model-options>.submit{
    border: 2px solid #D39983;
    background-color: #fff;
    color: #D39983;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 35px;
    width: 118px;
    border-radius: 6px;
    letter-spacing: 2px;
}