.histories-detail {
    background: url(../../../../assets/img/yun-family-three/bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;bottom: 0;
    left: 0;right: 0;
    color: #666666;
}

.histories-detail-content {
    padding: 20px 20px 0;
}

.histories-detail-content > div:first-child {
    background-color: rgba(255,255,255,0.66);
    border-radius: 6px;
    width: 100%;
    padding: 12px 17.5px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.histories-detail-content-time {
    color: #CC834B;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.histories-detail-content-title {
    color: #3A394D;
    font-size: 12px;
    margin-bottom: 10px;
}

.histories-detail-content-content {
    color: #6B6B6B;
    font-size: 12px;
    line-height: 12px;

}