.modifyPassword-content{
  width: 90%;
  margin-left: 5%;
  margin-top: 69px;
}
.forgetPassword-input{
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.btn{
  margin-top: 30px;
}