.upload-img {
    background: url(../../../assets/img/yun-find-root/bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;bottom: 0;
    left: 0;right: 0;
    color: #6B6B6B;
}

.upload-img-btn {
    text-align: center;
    width: 100%;
    padding: 9px;
    color: #ffffff;
    font-size: 15px;
    background-color: #CF9D85;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 18px;
}

.upload-img-btn-select {
    text-align: center;
    width: 100%;
    padding: 9px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 34px;
    left: 0;
    padding: 0 13px;
}
